<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Rubik:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css" type="text/css">
  <title>BattleVeg</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Skip to main content.</a>

  <%- include ./partials/_header.ejs %>

  <main id="maincontent" class="maincontent">
    <h3>Get your garden on!</h3>

    <div class="gameportal wrapper">
      <div class="menuinterface">

      </div>
      <div class="boardContainer">
        <div class="opponentboard">

        </div>
        <div class="playerBoard">
          
        </div>
      </div>
    </div>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/scripts/constants.js"></script>
  <script src="/scripts/helpers.js"></script>
  <script src="/scripts/script.js"></script>
  <script src="/scripts/driver.js"></script>
</body>
</html>