<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Rubik:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css" type="text/css">
  <title>BattleVeg</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Skip to main content.</a>

  <%- include ./partials/_header.ejs %>

  <main id="maincontent" class="maincontent" style="margin: 1em;">
    <h3>Get your garden on!</h3>
  </main>
</body>
</html>